@page "/prods"
@using System.Text.Json
@using System.Text.Json.Serialization
@attribute [StreamRendering]
@inject HttpClient Client

<PageTitle>Products</PageTitle>

<h1>Products</h1>

<p>This component demonstrates showing data.</p>

@if (products == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Type</th>
                <th>Url</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in products)
            {
                <tr>
                    <td>@product.productName</td>
                    <td>product.Type</td>
                    <td>@product.productUrl</td>
                    <td>product.Description</td>
                </tr>
            } 
        </tbody>
    </table>
}

@code {
    private Product[]? products;
    private bool getBranchesError;
    private bool shouldRender;

    protected override async Task OnInitializedAsync()
    {
        using var request = new HttpRequestMessage(HttpMethod.Get,
            "http://localhost:5055/products");

        using var response = await Client.SendAsync(request);

        if (response.IsSuccessStatusCode)
        {
            using var responseStream = await response.Content.ReadAsStreamAsync();
            products = (await JsonSerializer
                .DeserializeAsync<IEnumerable<Product>>(responseStream))
                .ToArray<Product>() ?? Array.Empty<Product>();
        }
        else
        {
            getBranchesError = true;
        }

        shouldRender = true;
    }

    private class Product
    {
        // product profile
        public string productName { get; set; } = "";
        
        public string productUrl { get; set;}  = "";
    }
}
