@page "/prods"
@attribute [StreamRendering]

<PageTitle>Products</PageTitle>

<h1>Products</h1>

<p>This component demonstrates showing data.</p>

@if (products == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Type</th>
                <th>Url</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in products)
            {
                <tr>
                    <td>@product.ProductName</td>
                    <td>product.Type</td>
                    <td>@product.ProductUrl</td>
                    <td>product.Description</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Product[]? products;

    protected override async Task OnInitializedAsync()
    {
        var startDate = DateOnly.FromDateTime(DateTime.Now);
        var summaries = new[] { "Freezing", "Bracing", "Chilly", "Cool", "Mild", "Warm", "Balmy", "Hot", "Sweltering", "Scorching" };
        products = Enumerable.Range(1, 5).Select(index => new Product
        {
            ProductName = summaries[index],
            ProductUrl = "test"
        }).ToArray();
    }

    private class Product
    {
        // product profile
        public string ProductName { get; set; } = "";
        
        public string ProductUrl { get; set;}  = "";
    }
}
